.header_ {
    position: relative;
    height: 200px;
    background-image: url("src/assets/img/bg.jpg");
    border-radius: 0px 0px 70%; 
}

.list_card{
    margin: 10px 10px 0px 10px;
    border-radius: 5px;
}

ion-thumbnail{
    border-radius: 5px;
}
